@import "./variables";

.contact {
  background: black;
  border: solid white 1px;
  box-shadow: 10px 8px white;
  height: 150px;
  width: 800px;
  margin: 20px auto;
  position: relative;

  @media screen and (max-width: $break-small) {
    height: 350px;
    width: 80%;
    margin: 20%;
    display: flex;
    position: relative;
    justify-content: center;
  }

  h2 {
    color: white;
    text-shadow: 2px 2px rgba(255, 0, 0, 0.75);
    text-align: center;
    text-transform: uppercase;
  }

  a {
    position: absolute;
    left: 40%;

    @media screen and (max-width: $break-small) {
      position: absolute;
      top: 60px;
      left: 50px;
    }

    button {
      height: 60px;
      width: 160px;
      color: white;
      font-size: 1.2em;
      background-color: black;
      border: solid white 1px;
      border-radius: 3%;
      transition: color background-color;
      transition-duration: 2s;

      &:hover {
        transition: all 1s ease-out 200ms;
        color: black;
        background-color: white;
      }
    }
  }
}
