@import "./variables";

.projects {
  scroll-margin-top: 0;
  background: black;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media screen and (max-width: $break-small) {
    display: flex;
    justify-content: center;
    height: 40%;
    width: 40%;
  }

  h2 {
    color: white;
    text-shadow: 2px 2px rgba(255, 0, 0, 0.75);
    text-align: center;
    text-transform: uppercase;
  }

  img {
    height: 400px;
    width: 800px;
    margin: auto;
    border: solid white 1px;
    box-shadow: 10px 8px white;

    &:hover {
      border: solid white 4px;
    }

    @media screen and (max-width: $break-small) {
      height: 150%;
      width: 150%;
    }
  }
}
